header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    height: 50px;

    background-color: #313c48;

    .logo {
        line-height: 50px;
        color: #fff;

        .logo-img {
            padding: 0 0 0 5px;

            font-size: 30px;
            font-family: Cursive;
            font-weight: bold;
        }

        .description{
            font-weight: normal;
            font-size: 15px;
        }
    }
}