body {
    font-family: Microsoft YaHei,"微软雅黑","MicrosoftJhengHei","华文细黑",STHeiti,MingLiu;
    
    .page-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        overflow: auto;
    }
}

ul, ol {
    margin: 0;
    padding: 0;

    li {
        list-style: none inside;
    }
}

h2.page-header {
    position: relative;

    margin: 20px 0 30px;

    &:before {
        content: "";

        position: relative;
        top: 5px;

        display: inline-block;

        margin-right: 3px;
        width: 5px;
        height: 32px;

        background-color: #337ab7;
        
    }

    .btn.pull-right {
        margin-left: 10px;
    }
}

.loading-icon{
    max-width: 32px;
    max-height: 32px;
    background: transparent url(./img/loading.png) no-repeat 0 0/100% 100%;

    animation-name: loading;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}