.test-result table img {
    max-width: 100%;
}

.test-result table tbody {
    td, th {
        position: relative;

        vertical-align: middle;

        .set-base-btn {
            position: absolute;
            left: 0;
            top: 0;

            display: none;
        }

        &:hover .set-base-btn {
            display: block;
        }
    }
}