.test-result table img {
    max-width: 100%;
}

.test-result table tbody {
    td, th {
        position: relative;

        vertical-align: middle;

        .set-base-btn {
            position: absolute;
            left: 0;
            top: 0;

            display: none;
        }

        &:hover .set-base-btn {
            display: block;
        }
    }
}

.detail-result {
    th:nth-child(3),
    td:nth-child(3) {
        width: 100px;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 80px;
    }
}

.test-fail {
    color: #ff0000;
}

.test-success {
    color: #00ff00;
}

.loading{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: sub;
}